<div
  class="bg-counterbanner bg-cover py-16 md:py-40 grid sm:grid-cols-2 lg:grid-cols-4 bg-slate-300 text-white text-center capitalize gap-4 gap-y-12 relative before:absolute before:inset-0 before:h-full before:bg-[rgba(75,75,75,.60)]"
>
  <div class="grid grid-flow-row justify-center relative z-10">
    <span class="text-5xl lg:text-6xl">90K+</span>
    <span class="text-2xl">listings</span>
  </div>
  <div class="grid grid-flow-row justify-center z-10">
    <span class="text-5xl lg:text-6xl">40k+</span>
    <span class="text-2xl">listing categories</span>
  </div>
  <div class="grid grid-flow-row justify-center z-10">
    <span class="text-5xl lg:text-6xl">65k+</span>
    <span class="text-2xl">visitors</span>
  </div>
  <div class="grid grid-flow-row justify-center z-10">
    <span class="text-5xl lg:text-6xl">50k+</span>
    <span class="text-2xl">happy clients</span>
  </div>
</div>
