<div
    class="bg-banner bg-no-repeat bg-cover text-center px-4 py-20 md:py-40 relative before:bg-slate-500 before:bg-opacity-50 before:absolute before:z-10 before:w-full before:h-full before:left-0 before:top-0">
    <h1
        class="text-3xl md:text-4xl lg:text-5xl lg:leading-normal uppercase text-white font-bold relative z-20 tracking-wide">
        best place to find and explore<br />
        that all you need
    </h1>
    <p class="text-[18px] text-white relative z-20">
        Find Best Place, Restaurant, Hotel, Real State and many more think in just
        One click
    </p>

    <div class="flex gap-4 justify-center relative z-20 container mx-auto md:h-16 text-slate-900 mt-12 flex-wrap">
        <div class="flex flex-grow flex-wrap gap-2 md:gap-0 h-full rounded-sm">
            <div class="flex-grow bg-white border-r flex gap-2 items-center px-3 h-full py-4">
                <label class="text-base md:text-xl capitalize font-medium">what?</label>
                <input type="text" class="flex-1 border-0 focus:outline-none text-sm md:text-base"
                    placeholder="Ex: palce, resturent, food, automobile" />
                <span class="material-symbols-outlined shrink-0"> list </span>
            </div>
            <div class="flex-grow bg-white flex gap-2 items-center px-3 h-full py-4">
                <label class="text-base md:text-xl capitalize font-medium">location</label>
                <input type="text" class="flex-1 border-0 focus:outline-none  text-sm md:text-base"
                    placeholder="Ex: london, newyork, rome" />
                <span class="material-symbols-outlined shrink-0"> my_location </span>
            </div>
        </div>
        <button
            class="bg-red-400 hover:bg-red-600 flex gap-2 h-full text-white items-center px-8 transition-colors rounded-sm py-4">
            Search
            <span class="material-symbols-outlined"> search </span>
        </button>
    </div>
</div>