<div
  class="container mx-auto mt-4 md:-mt-16 relative z-20 capitalize px-4 md:px-0"
>
  <div class="grid grid-cols-[repeat(auto-fit,_minmax(180px,_1fr))] gap-6">
    <div
      class="group bg-white transition-colors shadow-md px-2 py-6 flex flex-col items-center gap-3 text-slate-600 hover:bg-red-500 hover:text-white"
    >
      <span class="material-symbols-outlined text-6xl"> storefront </span>
      <div class="text-base">resturent</div>
      <div class="text-slate-400 text-sm group-hover:text-white">
        150 listings
      </div>
    </div>
    <div
      class="group bg-white transition-colors shadow-md px-2 py-6 flex flex-col items-center gap-3 text-slate-600 hover:bg-red-500 hover:text-white"
    >
      <span class="material-symbols-outlined text-6xl"> map </span>
      <div class="text-base">destination</div>
      <div class="text-slate-400 text-sm group-hover:text-white">
        214 listings
      </div>
    </div>
    <div
      class="group bg-white transition-colors shadow-md px-2 py-6 flex flex-col items-center gap-3 text-slate-600 hover:bg-red-500 hover:text-white"
    >
      <span class="material-symbols-outlined text-6xl"> apartment </span>
      <div class="text-base">hotels</div>
      <div class="text-slate-400 text-sm group-hover:text-white">
        185 listings
      </div>
    </div>
    <div
      class="group bg-white transition-colors shadow-md px-2 py-6 flex flex-col items-center gap-3 text-slate-600 hover:bg-red-500 hover:text-white"
    >
      <span class="material-symbols-outlined text-6xl"> mixture_med </span>
      <div class="text-base">healthcaree</div>
      <div class="text-slate-400 text-sm group-hover:text-white">
        200 listings
      </div>
    </div>
    <div
      class="group bg-white transition-colors shadow-md px-2 py-6 flex flex-col items-center gap-3 text-slate-600 hover:bg-red-500 hover:text-white"
    >
      <span class="material-symbols-outlined text-6xl"> airport_shuttle </span>
      <div class="text-base">automotion</div>
      <div class="text-slate-400 text-sm group-hover:text-white">
        120 listings
      </div>
    </div>
  </div>
</div>
