<div class="py-32 bg-slate-50 text-slate-600 px-4">
    <h2 class="text-3xl py-4 text-center uppercase">
        do you want to add your business listing with us?
    </h2>
    <p class="text-base text-center pb-16">
        Listrace offer you to list your business with us and we very much able to
        promote your Business.
    </p>
    <div class="container mx-auto px-3">
        <div class="max-w-screen-sm w-full mx-auto flex flex-col gap-4 md:flex-row md:gap-0 md:hover:shadow-xl group">
            <input
                class="px-10 py-4 flex-grow bg-white border shadow-md md:group-hover:shadow-none text-slate-600 text-base outline-none"
                type="text" placeholder="Enter your email here" />
            <button
                class="bg-red-500 text-white hover:bg-red-600 px-10 py-4 text-base capitalize transition-colors self-center md:self-auto">
                creat account
            </button>
        </div>
    </div>
</div>