<ul class="flex uppercase text-slate-500 text-sm flex-col md:flex-row md:static absolute bg-white py-4 px-6 md:p-0 space-y-5 md:space-y-0 md:w-auto w-full font-medium z-50">
    <li class="md:px-3 lg:px-6 cursor-pointer hover:text-red-500">home</li>
    <li class="md:px-3 lg:px-6 cursor-pointer hover:text-red-500">how it works</li>
    <li class="md:px-3 lg:px-6 cursor-pointer hover:text-red-500">explore</li>
    <li class="md:px-3 lg:px-6 cursor-pointer hover:text-red-500">blog</li>
    <li class="md:px-3 lg:px-6 cursor-pointer hover:text-red-500">contact</li>
</ul>