<div class="py-20 text-slate-600">
    <h2 class="text-3xl py-4 text-center uppercase">how it works</h2>
    <p class="text-base text-center pb-16">Learn More about how our website works</p>
    <div class="container flex flex-wrap gap-6 mx-auto px-3">
        <div
            class="group hover:bg-red-500 hover:text-white bg-white capitalize shadow-md rounded-sm flex flex-col items-center gap-6 py-12 px-10 basis-[230px] flex-grow transition-colors">
            <div class="rounded-full bg-slate-200 group-hover:bg-white h-20 w-20 flex items-center justify-center">
                <span class="material-symbols-outlined text-3xl group-hover:text-red-500">emoji_objects</span>
            </div>
            <h3 class="text-xl text-slate-600 group-hover:text-white">choose what to do</h3>
            <p class="text-sm leading-loose text-center">Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do
                eiusmod tempor incididunt ut laboremagna aliqua.
            </p>
            <button class="bg-white border text-xs py-2 px-3 capitalize rounded-sm group-hover:text-red-500">read
                more</button>
        </div>
        <div
            class="group hover:bg-red-500 hover:text-white bg-white capitalize shadow-md rounded-sm flex flex-col items-center gap-6 py-12 px-10 basis-[230px] flex-grow transition-colors">
            <div class="rounded-full bg-slate-200 group-hover:bg-white h-20 w-20 flex items-center justify-center">
                <span class="material-symbols-outlined text-3xl group-hover:text-red-500">two_wheeler</span>
            </div>
            <h3 class="text-xl text-slate-600 group-hover:text-white">find what you want</h3>
            <p class="text-sm leading-loose text-center">Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do
                eiusmod tempor incididunt ut laboremagna aliqua.
            </p>
            <button class="bg-white border text-xs py-2 px-3 capitalize rounded-sm group-hover:text-red-500">read
                more</button>
        </div>
        <div
            class="group hover:bg-red-500 hover:text-white bg-white capitalize shadow-md rounded-sm flex flex-col items-center gap-6 py-12 px-10 basis-[230px] flex-grow transition-colors">
            <div class="rounded-full bg-slate-200 group-hover:bg-white h-20 w-20 flex items-center justify-center">
                <span class="material-symbols-outlined text-3xl group-hover:text-red-500">location_on</span>
            </div>
            <h3 class="text-xl text-slate-600 group-hover:text-white">explore amazing place</h3>
            <p class="text-sm leading-loose text-center">Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do
                eiusmod tempor incididunt ut laboremagna aliqua.
            </p>
            <button class="bg-white border text-xs py-2 px-3 capitalize rounded-sm group-hover:text-red-500">read
                more</button>
        </div>
    </div>
</div>