<div id="site-wrapper">
  <div id="home">
  <app-header></app-header>
    <app-banner-wrapper></app-banner-wrapper>
  </div>
  <div id="how-it-works">
    <app-how-it-works></app-how-it-works>
  </div>
  <div id="explore">
    <app-explore></app-explore>
    <app-statistics-counter></app-statistics-counter>
  </div>
  <div id="blog">
    <app-news-articles></app-news-articles>
  </div>
  <div id="contact">
    <app-create-account></app-create-account>
  </div>
  <app-footer></app-footer>
</div>
